#root {
    margin: 0 auto;
}
.itemWrap {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.item {
    user-select: none;
    border: 2px solid #ccc;
    color: cadetblue;
    cursor: pointer;
    padding: 4px 8px;
    margin-right: 4px;
}
.item.disable {
    cursor: not-allowed;
    color: #ccc;
}
.item.active {
    color: tomato;
}